# URL da API
NEXT_PUBLIC_API_URL=https://seu-dominio.com
NEXT_PUBLIC_APP_URL=https://seu-dominio.com

# Configurações do banco de dados
DATABASE_URL=file:./rankify.db

# Segurança
NEXTAUTH_SECRET=gere-uma-chave-aleatoria-segura
NEXTAUTH_URL=https://seu-dominio.com

# Google OAuth
GOOGLE_CLIENT_ID=seu-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=seu-client-secret
GOOGLE_REDIRECT_URI=https://seu-dominio.com/login

# Instagram Checker API
INSTAGRAM_CHECKER_API_URL=http://localhost:5000

# SMTP - Configurações para envio de emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=zkdopix@gmail.com
SMTP_PASS=zbfnuvbigijwbmch
SMTP_FROM="Rankify <noreply@rankify.com.br>"

# Password Security
PASSWORD_PEPPER=gere-uma-chave-aleatoria-segura
